// Variables for ProntoPro

// --- FONTS
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic);
$font-default: 'Open Sans', sans-serif;


// --- GENERAL LAYOUT
$default-font_size: rem(16);
$default-line_height: 1.6;
$font-smooth-color: rgba(0, 0, 0, .004);
$default-letter-spacing: .017em;


// --- HEADER
$header-padding_top: 10px;
$logo-height: 32px;
$link-color_default: #337ab7;


// --- BUTTONS
$btn-color: #fff;
$btn-padding: 5px 8px;
$btn-menu-bgcolor: #4c7389;
$btn-menu-color: #fff;
$btn-menu-bordercolor:  darken($btn-menu-bgcolor, 20%);
$btn-menu-bgcolor-focus: lighten($btn-menu-bgcolor, 5%);
$btn-menu-bgcolor-active: darken($btn-menu-bgcolor, 10%);


// --- FOOTER
$footer-bg_color: #4a4a4a;
$footer-menu-title-color: #fff;
$footer-menu-title-item: #bcbcbc;
$footer-menu-title-style: uppercase;


// --- RESPONSIVE UTILS
$small-smartphone-widht: 320px;
$large-smartphone-width: 480px;
$small-tablet-width: 768px;
$large-tablet-width: 991px;
$desktop-width: 1024px;