@media screen and (min-width: 320px) {

  .footer {
    background-color: $footer-bg_color;
    padding: 36px 0;
  }

  .footer-menu {
    list-style: none;
    margin: 0 0 24px;


    .footer-menu-title {
      color: $footer-menu-title-color;
      text-transform: $footer-menu-title-style;
      font-size: 14px;
    }

    .footer-menu-item {
      a {
        color: $footer-menu-title-item;
        display: block;
        padding: 10px 0;
        border-bottom: thin solid darken($footer-menu-title-item, 25%);
      }
    }
  }

}
