// --- Pagination rules Mobile first

@include small-phone {

  .pagination {
    margin: 24px 0;
    padding: 0;
    list-style: none;
    width: 100%;
    text-align: center;
  }

    .pagination-item {
      display: inline-block;
      margin: 0 0px;
    }

      .pagination-anchor {
        display: block;
        min-width: 10px;
        min-height: 10px;
        padding: 10px 10px;
        background-color: $pagination-bg-color;
      }

      .pagination-anchor--current {
        background-color: $pagination-bg-color;
      }
}

@include medium-phone {

  .pagination-anchor {
    min-width: 10px;
    min-height: 10px;
    padding: 10px 15px;
  }

}

@include large-phone {

  .pagination-anchor {
    min-width: 10px;
    min-height: 10px;
    padding: 10px 18px;
  }

}

@include large-tablet {

  .pagination-item {
    margin: 0 3px;
  }

  .pagination-anchor {
    &:hover{
      background-color: $pagination-anchor-bg-color-hover;
      transition: 180ms;
    }
  }

  .pagination-anchor.pagination-anchor--current {
    &:hover {
      background-color: none;
    }
  }

}