@include small-phone {
  .quotes {
    background-image: url('../images/quotes-bg.jpg');
    background-size: cover;
    background-position: center center;
    padding: 36px 0;

    .quote-item {
      background-color: rgba(255, 255, 255, .8);
      margin: 16px -15px; // Maintains -15px margin of bootstrap row

      .quote-item-brands {
        list-style: none;
        padding: 0;

        .quote-item-brand {
          display: inline-block;
          margin-right: 15px;
        }
      }

      .quote-item-content {
        font-style: italic;
      }
    }
  }
}